.bstLst > img,
.plantLst > img {
  height: 100%;
}

.bot > button {
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  /* font-size: 30px; */
  height: 30px;
  width: 50px;
  border-radius: 10px;
}

.bot {
  display: flex;
  position: relative;
  border-radius: 20px;
  background-color: whitesmoke;
}
