.oxy-area {
  height: 100%;
  border-radius: 10px;
  line-height: 1.5 !important;

  position: relative;
}

.oxy-num {
  margin: auto;
  width: 100px;
  /* height: 100%; */
  /* top: -18px; */
  background-color: whitesmoke;
  border-radius: 5px;
}

.oxy-img {
  width: 15px;
  height: 15px;
  margin: auto;
}

.number {
  padding: 0px 10px;
}
