.collection {
  background-color: whitesmoke;
  overflow: auto;
  padding: 10px;
  margin-top: 20px;
}

.bgc-blue {
  background-color: cornflowerblue;
}

.green {
  color: green;
}

.bgc-green {
  background-color: green;
}

.blue {
  color: blue;
}

.plantAva {
  width: 70px;
  height: 70px;
  position: relative;
  margin-right: 10px;
}

.plantAva > .plantImg {
  width: 100%;
  max-height: 90%;
  position: absolute;
  bottom: 0px;
  margin: auto;
  /* top: 10px; */
  /* left: 5px;
  right: 5px; */
}

.item {
  margin-bottom: 10px;
  height: 70px;
  position: relative;
}

.radius {
  border-radius: 5px;
}

.item > button {
  position: absolute;
  right: 0px;
  width: 60px;
  margin: 15px 15px;
}
