:root {
  --oxy-height: 15px;
  --oxy-width: 15px;
}

.App {
  text-align: center;
  width: 425px;
  height: 760px;
  margin: auto;
}

.bg {
  background-image: url(./images/backgroud.png);
  /* background: linear-gradient(0deg, #89f7fe 0%, #66a6ff 100%); */
  background-repeat: no-repeat;
  background-size: 425px 680px;
}

.bgc-w {
  background-color: white !important;
}

.h-50px {
  height: 40px !important;
}

div.oxy {
  background-color: red;
  width: 50px;
  height: 30px;
  vertical-align: middle;
  display: inline;
}

div.lv {
  background-color: rgb(24, 223, 223);
  width: 50px;
  height: 30px;
  display: inline-block;
  /* text-align: end; */
  position: absolute;
  vertical-align: middle;
}

div.bloc1, div.bloc2
{
    display:inline-block;
}

div.bloc1
{
  margin-right: 10px;
  background-color: aqua;
  height: var(--oxy-height);
  width: var(--oxy-width);

}

