:root {
  --oxy-height: 15px;
  --oxy-width: 15px;
}

.App {
  text-align: center;
  width: 425px;
  height: 760px;
  margin: auto;
}

.center {
  display: block;
  width: 50%;
}

.bg {
  background-image: url(./images/shelf_side.png), url(./images/shelf_side.png),
    url(./images/backgroud.png) !important;
  /* background: linear-gradient(0deg, #89f7fe 0%, #66a6ff 100%); */
  background-repeat: no-repeat, no-repeat, repeat !important;
  background-size: contain, contain, contain !important;
  background-position: left, right, center !important;
}

.opa {
  opacity: 1;
}

.bgc-w {
  background-color: white !important;
}

.h-50px {
  height: 50px !important;
}

.p-10px {
  padding: 10px !important;
}

.r-top-10px {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.r-bot-10px {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.m-10px {
  margin: 0px 10px;
}

.h-100 {
  height: 100%;
}

.w-10px {
  width: 10px;
}

.center {
  margin: 0 auto;
}

.align-center {
  text-align: center;
}
